$pink: #e44c65;
$white: whitesmoke;
$blue: #304352;

.message {
	margin: calc(3rem + 0.5rem) 1rem 0 1rem;
	// margin-bottom: 0;
	padding: 0.5rem 2rem;
	background-color: $pink;
	color: $white;
	text-align: center;
	box-shadow: 0 0.125rem 0.125rem -0.125rem black;
}