$pink: #e44c65;
$white: whitesmoke;
$blue: #304352;

.content {
	margin: 0 1rem;

	.team {
		margin-bottom: 1rem;
		box-shadow: 0 0.125rem 0.125rem -0.125rem black;

		h1 {
			padding: 0.5rem 2rem;
			background-color: $blue;
			color: $white;
			text-align: center;
			text-transform: uppercase;
		}

		h2 {
			font-weight: normal;
			margin-bottom: 0.5rem;
		}

		h2:last-of-type {
			margin-top: 2rem;
		}

		.container {
			padding: 1rem;
			background-color: white;
			color: $blue;

			.members {
				// border: 1px solid red;
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
				gap: 1rem;

				.member {
					// border: 1px solid black;
					background-color: $pink;
					color: white;
					padding: 1rem;
					font-weight: bold;
					text-transform: uppercase;
					letter-spacing: 125%;
					box-shadow: 0 0.125rem 0.125rem -0.125rem black;
				}
			}
		}
	}
}