<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
		<link
			href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/article.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/about.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" />
		<title>Project YCRO | About</title>
	</head>

	<body>
		<header>
			<a href="/" class="name">
				<img
					class="logo"
					src="{{ url_for('static', filename='mask_icon.svg') }}"
					style="transform: translateY(-2.5px); margin-right: 1rem;"
				/>
				<h1>Project YCRO</h1>
			</a>
			<nav class="nav">
				<button class="hamburger" type="button">
					<div class="hamburger__lines">
						<span class="hamburger__line"></span>
						<span class="hamburger__line"></span>
						<span class="hamburger__line"></span>
					</div>
				</button>

				<a href="/" class="nav__link"><span>Home</span></a>
				<a href="/requestppe" class="nav__link"><span>Request PPE</span></a>
				<a href="/donateppe" class="nav__link"><span>Donate PPE</span></a>
				<a href="/contact" class="nav__link"><span>Contact</span></a>
				<a href="/about" class="nav__link"><span>About</span></a>
			</nav>
		</header>

		<main class="content">
			<article class="article">
				<h1>Our Mission</h1>
				<section class="container">
					<p>
						We are a group of students working to connect hospitals in the DC-Maryland-Virginia region
						with desperately needed supplies, in the wake of the COVID-19 pandemic. Our team is also 
						working on independently producing hospital-approved Personal Protective Equipment (PPE) 
						and other items, with the eventual vision of organizing households across the DMV into a 
						production center  to support healthcare workers during this time of crisis and shortage.
					</p>
				</section>
			</article>
			<section class="team">
				<h1>Our Team</h1>
				<section class="container">
					<h2><b>Founder and Overall Coordinator </b></h2>


					<div class="members" style="--count: 1">
						<a target="_blank" class="member">Reevu Adakroy</a>
					</div>
					</br>

					<h2><b>2D Printing</b></h2>
					<p>
						The 2D Printing team is working on creating innovative designs for masks and protection for
						the community using only household materials. Using no 3D printing or sewing procedures,
						such designs will be simple and easy to make at home.
					</p>
					</br>
					<div class="members">
						<a target="_blank" class="member">Nathan Suh</a>
						<a href="https://www.linkedin.com/in/joshua-lian-60425819a/" target="_blank" class="member">Joshua Lian</a>
						<a href="https://www.linkedin.com/in/marian-q-721580169/" target="_blank" class="member">Marian Qian</a>
						<a target="_blank" class="member">Jason Wang</a>
                        							
					</div>
					</br>
				
					<h2><b>3D Printing</b></h2>
					<p>
						The 3D Printing team is responsible for the creation, collection, and prototyping of designs
						for various tools to help aid the COVID-19 relief effort, as well as the eventual mass
						production of said materials to be distributed to organizations in need.
					</p>
					</br>
					<div class="members">
						<a href="https://www.linkedin.com/in/joshua-lian-60425819a/" target="_blank" class="member">Joshua Lian</a>
						<a target="_blank" class="member">Tharun Saravanan</a>
						<a target="_blank" class="member">Aryan Joshi</a>
						<a href="https://www.linkedin.com/in/maria-izzi/" target="_blank" class="member">Maria Izzi</a>
						<a target="_blank" class="member">Kevin Gu</a>
						<a target="_blank" class="member">Daniel Fu</a>
						<a target="_blank" class="member">Neil Shah</a>
					</div>
					</br>
					<h2><b>Cleaning Supplies</b></h2>
					<p>
						The Cleaning Supplies team is responsible for collecting vital supplies such as hand sanitizer
						and bleach from local schools, businesses, and government buildings. To date, the team has
						contacted 6 school districts who have donated tens of thousands of cleaning supplies to
						local hospitals.
					</p>
					</br>
					<div class="members">
						<a target="_blank" class="member">Neil Shah</a>
						<a target="_blank" class="member">Vishal Kanigicherla</a>
						<a target="_blank" class="member">Hashir Aqeel</a>
						<a target="_blank" class="member">Catie Granum</a>
						<a target="_blank" class="member">Maxwell Bai</a>
						<a target="_blank" class="member">Nathan Suh</a>
						<a target="_blank" class="member">Jason Wang</a>
						<a target="_blank" class="member">Sahana Ramesh</a>
						<a target="_blank" class="member">Anthony Wong</a>
						<a target="_blank" class="member">Julia Kao-Sowa</a>
					</div>
					</br>
					<h2><b>Outreach</b></h2>
					<p>
						The Outreach team is in charge of all correspondence between facilities in need and the YCRO,
						managing all requests for materials and keeping track of where supplies need to go for
						maximum impact.
					</p>
					</br>
					<div class="members">
						<a target="_blank" class="member">Aryan Joshi</a>
						<a target="_blank" class="member">Maxwell Bai</a>
						<a href="https://www.linkedin.com/in/marian-q-721580169/" target="_blank" class="member">Marian Qian</a>
						<a href="https://www.instagram.com/angiehuang_/" target="_blank" class="member">Angie Huang</a>
						<a target="_blank" class="member">Julia Feldhaus</a>
						<a target="_blank" class="member">Vyomika Gandhi</a>
						<a target="_blank" class="member">Khushmeet Chandi</a>
						<a target="_blank" class="member">Priyanka Mosur</a>
						<a href="https://www.linkedin.com/in/joshua-lian-60425819a/" target="_blank" class="member">Joshua Lian</a>
						<a target="_blank" class="member">John Kim</a>
						<a target="_blank" class="member">Summer Wang</a>
						<a href="https://www.linkedin.com/in/anika-thatavarthy-8930211a7" target="_blank" class="member">Anika Thatavarty</a>
						<a target="_blank" class="member">Srilakshmi Medarametla</a>
						<a target="_blank" class="member">Annabel Li</a>
						<a target="_blank" class="member">Hashir Aqeel</a>
						<a href="https://www.linkedin.com/in/anishajain2021/" target="_blank" class="member"
							>Anisha Jain</a
						>
						<a target="_blank" class="member">Anoushka Sarkar</a>
						<a target="_blank" class="member">Anthony Wong</a>
						<a target="_blank" class="member">Michelle Du</a>
						<a target="_blank" class="member">Saanjh Khattar</a>
						<a target="_blank" class="member">Sadhika Dhanasekar</a>
						<a target="_blank" class="member">Tiffany Ji</a>
					</div>
					</br>
					<h2><b>Publicity</b></h2>
					<p>
						The Publicity team's objective is to update the public about our progress as a team,
						as well as to educate the community on the best ways to stay safe and help out during this
						pandemic.
					</p>
					</br>
					<div class="members">
						<a target="_blank" class="member">Akash Bhave</a>
						<a href="https://www.instagram.com/angiehuang_/" target="_blank" class="member">Angie Huang</a>
						<a target="_blank" class="member">Anika Thatavarthy</a>
						<a target="_blank" class="member">Anoushka Sarkar</a>
						<a target="_blank" class="member">Anthony Wong</a>
						<a target="_blank" class="member">Catie Granum</a>
						<a href="https://www.linkedin.com/in/jennifer-abraham-6345491a6/" target="_blank" class="member">Jennifer Abraham</a>
						<a href="https://www.linkedin.com/in/joshua-lian-60425819a/" target="_blank" class="member">Joshua Lian</a>
						<a target="_blank" class="member">Karen Song</a>
						<a target="_blank" class="member">Khushmeet Chandi</a>
						<a href="https://www.linkedin.com/in/marian-q-721580169/" target="_blank" class="member">Marian Qian</a>
						<a target="_blank" class="member">Meghna Sharma</a>
						<a target="_blank" class="member">Nathan Suh</a>
						<a target="_blank" class="member">Neil Shah</a>
						<a target="_blank" class="member">Nuha Mohammed</a>
						<a target="_blank" class="member">Saanjh Khattar</a>
						<a target="_blank" class="member">Sadhika Dhanasekar</a>
						<a target="_blank" class="member">Sahana Ramesh</a>
						<a target="_blank" class="member">Srilakshmi Medarametla</a>
						<a target="_blank" class="member">Summer Wang</a>
						<a target="_blank" class="member">Tiffany Ji</a>
					</div>
					</br>
					<h2><b>Research</b></h2>
					<p>
						The objective of the Research Team is to explore different ways in which everyday people can
						contribute in the fight against Covid-19 and to create video tutorials to teach the public how
						to make important pieces of equipment such as ear protectors and face shields. Currently, the
						team is developing several tutorials for the manufacturing of ear protectors.
					</p>
					</br>
					<div class="members">
						<a target="_blank" class="member">Vishal Kanigicherla</a>
						<a target="_blank" class="member">Hashir Aqeel</a>
						<a target="_blank" class="member">Neil Shah</a>
						<a target="_blank" class="member">Nathan Suh</a>
						<a target="_blank" class="member">Anika Thatavarthy</a>
						<a target="_blank" class="member">Prithvi Nathan</a>
						<a target="_blank" class="member">Saanjh Khattar</a>
						<a href="https://www.linkedin.com/in/maria-izzi/" target="_blank" class="member">Maria Izzi</a>
						<a target="_blank" class="member">Adele Peng</a>
						<a href="https://www.linkedin.com/in/anishajain2021/" target="_blank" class="member"
							>Anisha Jain</a
						>
						<a target="_blank" class="member">Ikhlaas Bhat</a>
						<a target="_blank" class="member">Julia Kao-Sowa</a>
						<a target="_blank" class="member">Kevin Gu</a>
						<a target="_blank" class="member">Khushmeet Chandi</a>
						<a target="_blank" class="member">Nuha Mohammed</a>
						<a target="_blank" class="member">Sadhika Dhanasekar</a>
						<a target="_blank" class="member">Sahana Ramesh</a>
						<a target="_blank" class="member">Vyomika Gandhi</a>
						<a target="_blank" class="member">Yulee Kang</a>
					</div>
					</br>
					<h2><b>Sewing</b></h2>
					<p>
						The Sewing team is working on maximizing the comfort and effectiveness of a sewn mask through
						material choice and stitching techniques. They have continued to work with hospitals regarding
						the specific needs of the facility and are aiming to ramp up production to account for the
						shortage as soon as possible.
					</p>
					</br>
					<div class="members">
						<a target="_blank" class="member">Priyanka Mosur</a>
						<a href="https://www.linkedin.com/in/joshua-lian-60425819a/" target="_blank" class="member">Joshua Lian</a>
						<a target="_blank" class="member">Kritika Layagala</a>
						<a target="_blank" class="member">Kritika Jothishankar</a>
						<a target="_blank" class="member">Sahana Ramesh</a>
						<a target="_blank" class="member">Akash Bhave</a>
						<a target="_blank" class="member">Anoushka Sarkar</a>
						<a href="https://www.linkedin.com/in/marian-q-721580169/" target="_blank" class="member">Marian Qian</a>
						<a target="_blank" class="member">Neil Shah</a>
						<a target="_blank" class="member">Olivia Ma</a>
						<a target="_blank" class="member">Prithvi Nathan</a>
						<a target="_blank" class="member">Tiffany Ji</a>
					</div>
					</br>
					<h2><b>Sterilization</b></h2>
					<p>
						The objective of the Sterilization team is to provide those at home with a way to sterilize
						their own cloth masks through a materials database. In addition to this, they have been working
						on new ways to sterilize and bring comfort to existing 3D Printed masks and shields.
					</p>
					</br>

					<div class="members">
						<a target="_blank" class="member">Kritika Jothishankar</a>
						<a target="_blank" class="member">Vishal Kanigicherla</a>
						<a target="_blank" class="member">Daniel Fu</a>
						<a target="_blank" class="member">Yulee Kang</a>
						<a target="_blank" class="member">Catie Granum</a>
						<a href="https://www.linkedin.com/in/anishajain2021/" target="_blank" class="member"
							>Anisha Jain</a
						>
						<a target="_blank" class="member">Anoushka Sarkar</a>
						<a target="_blank" class="member">Anthony Wong</a>
						<a target="_blank" class="member">Jason Wang</a>
						<a href="https://www.linkedin.com/in/marian-q-721580169/" target="_blank" class="member">Marian Qian</a>
						<a target="_blank" class="member">Neil Shah</a>
						<a target="_blank" class="member">Olivia Ma</a>
						<a target="_blank" class="member">Prithvi Nathan</a>
					</div>
					</br>

<h2><b>Web Development</b></h2>
					<p>
						The Web Development team has been working hard to create a platform to host our network and
						share our progress and research with the community. Their work has led to the creation of this
						website.
					</p>
					</br>
					<div class="members">
						<a target="_blank" class="member">Aryan Chinnala</a>
						<a href="https://www.linkedin.com/in/jason-klein-8093a0181" target="_blank" class="member"
						>Jason Klein</a
						>
						<a href="https://github.com/VarunChilukuri" target="_blank" class="member">Varun Chilukuri</a>
						<a target="_blank" class="member">Nuha Mohammed</a>
						<a target="_blank" class="member">Akash Bhave</a>
						<a target="_blank" class="member">Saigautam Bonam</a>
						<a target="_blank" class="member">Pranav Wadhwa</a>
						<a target="_blank" class="member">Khushmeet Chandi</a>
						<a href="https://www.linkedin.com/in/jennifer-abraham-6345491a6/" target="_blank" class="member">Jennifer Abraham</a>
						<a href="https://www.linkedin.com/in/joshua-lian-60425819a/" target="_blank" class="member">Joshua Lian</a>
						<a target="_blank" class="member">Tharun Saravanan</a>
						<a target="_blank" class="member">Aryan Joshi</a>
						<a href="https://www.linkedin.com/in/maria-izzi/" target="_blank" class="member">Maria Izzi</a>
					</div>
				</section>
			</section>
		</main>

		<footer class="footer">
			<p class="copyright">
				&copy; 2020
			</p>
			<section class="socials">
				<a href="https://www.facebook.com/projectycro/" target="_blank"
					><img
						src="https://www.shareicon.net/data/512x512/2016/11/14/852231_square_512x512.png"
						alt="facebook logo"
						height="30"
						width="30"
				/></a>
				<a href="https://www.instagram.com/projectycro/?hl=en" target="_blank"
					><img
						src="https://www.edigitalagency.com.au/wp-content/uploads/instagram-glyph-logo-icon-png-black-white.png"
						alt="instagram_logo"
						height="30"
						width="30"
				/></a>
			</section>
		</footer>

		<script>
			let hamburger = document.querySelector(".hamburger")
			let nav = document.querySelector("nav")
			hamburger.addEventListener("click", () => {
				nav.classList.toggle("active")
			})

			window.addEventListener("click", closeIfOutsite)
			window.addEventListener("touchstart", closeIfOutsite)

			function closeIfOutsite() {
				if (nav.classList.contains("active"))
					if (event.clientX < window.innerWidth - nav.getBoundingClientRect().width)
						nav.classList.remove("active")
			}

			let subteams = document.querySelectorAll(".members")
			subteams.forEach(subteam => {
				members = subteam.querySelectorAll(".member")
				subteam.style.setProperty("--count", members.length)
			})
		</script>
	</body>
</html>
