<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
        <link
            href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/article.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/about.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" />
        <title>Project YCRO | About</title>
    </head>

    <body>
        <header>
            <a href="/" class="name">
                <img
                    class="logo"
                    src="{{ url_for('static', filename='mask_icon.svg') }}"
                    style="transform: translateY(-2.5px); margin-right: 1rem;"
                />
                <h1>Project YCRO</h1>
            </a>
            <nav class="nav">
                <button class="hamburger" type="button">
                    <div class="hamburger__lines">
                        <span class="hamburger__line"></span>
                        <span class="hamburger__line"></span>
                        <span class="hamburger__line"></span>
                    </div>
                </button>
                
                <a href="/" class="nav__link"><span>Home</span></a>
                <a href="/requestppe" class="nav__link"><span>Request PPE</span></a>
                <a href="/donateppe" class="nav__link"><span>Donate PPE</span></a>
                <a href="/contact" class="nav__link"><span>Contact</span></a>
                <a href="/about" class="nav__link"><span>About</span></a>

                <!-- link to actual paypal -->
                <!-- <a href="https://www.paypal.com" class="nav__link" target="_blank"
                    ><span>Donate</span></a
                > -->
            </nav>
        </header>

        <main class="content">
            <article class="article">
                <h1>Our Mission</h1>
                <section class="container">
                    <p>
                        We are a group of students working to connect hospitals in the
                        Virginia-DC-Maryland region with desperately needed supplies in the wake of
                        the COVID-19 pandemic. We are also working on independently producing
                        hospital-approved masks and other supplies, with the eventual goal to
                        organize households across the DMV into a production center for masks and
                        other materials to assist healthcare workers.
                    </p>
                </section>
            </article>
            <section class="team">
                <h1>Our Team</h1>
                <section class="container">
                    <h2>Web Development</h2>
                    <div class="members">
                        <span class="member">Aryan Chinnala</span>
                        <span class="member">Jason Klein</span>
                        <span class="member">Varun Chilukuri</span>
                        <span class="member">Nuha Mohammed</span>
                        <span class="member">Akash Bhave</span>
                        <span class="member">Saigautam Bonam</span>
                        <span class="member">Pranav Wadhwa</span>
                        <span class="member">Reevu Adakroy</span>
                        <span class="member">Khushmeet Chandi</span>
                        <span class="member">Jennifer Abraham</span>
                        <span class="member">Joshua Lian</span>
                        <span class="member">Tharun Saravanan</span>
                        <span class="member">Aryan Joshi</span>
                        <span class="member">Maria Izzi</span>
                    </div>

                    <h2>2D Printing</h2>
                    <div class="members">
                        <span class="member">Nathan Suh</span>
                        <span class="member">Joshua Lian</span>
                        <span class="member">Marian Qian</span>
                        <span class="member">Jason Wang</span>
                        <span class="member">Reevu Adakroy</span>
                    </div>

                    <h2>3D Printing</h2>
                    <div class="members">
                        <span class="member">Joshua Lian</span>
                        <span class="member">Tharun Saravanan</span>
                        <span class="member">Aryan Joshi</span>
                        <span class="member">Reevu Adakroy</span>
                        <span class="member">Maria Izzi</span>
                        <span class="member">Kevin Gu</span>
                        <span class="member">Daniel Fu</span>
                        <span class="member">Neil Shah</span>
                    </div>

                    <h2>Cleaning Supplies</h2>
                    <div class="members">
                        <span class="member">Neil Shah</span>
                        <span class="member">Vishal Kanigicherla</span>
                        <span class="member">Hashir Aqeel</span>
                        <span class="member">Catie Granum</span>
                        <span class="member">Maxwell Bai</span>
                        <span class="member">Nathan Suh</span>
                        <span class="member">Jason Wang</span>
                        <span class="member">Reevu Adakroy</span>
                        <span class="member">Sahana Ramesh</span>
                        <span class="member">Anthony Wong</span>
                        <span class="member">Julia Kao-Sowa</span>
                    </div>

                    <h2>Outreach</h2>
                    <div class="members">
                        <span class="member">Aryan Joshi</span>
                        <span class="member">Maxwell Bai</span>
                        <span class="member">Marian Qian</span>
                        <span class="member">Angie Huang</span>
                        <span class="member">Julia Feldhaus</span>
                        <span class="member">Vyomika Gandhi</span>
                        <span class="member">Khushmeet Chandi</span>
                        <span class="member">Priyanka Mosur</span>
                        <span class="member">Joshua Lian</span>
                        <span class="member">John Kim</span>
                        <span class="member">Summer Wang</span>
                        <span class="member">Anika Thatavarty</span>
                        <span class="member">Srilakshmi Medarametla</span>
                        <span class="member">Annabel Li</span>
                        <span class="member">Reevu Adakroy</span>
                        <span class="member">Hashir Aqeel</span>
                        <span class="member">Anisha Jain</span>
                        <span class="member">Anoushka Sarkar</span>
                        <span class="member">Anthony Wong</span>
                        <span class="member">Michelle Du</span>
                        <span class="member">Saanjh Khattar</span>
                        <span class="member">Sadhika Dhanasekar</span>
                        <span class="member">Tiffany Ji</span>
                    </div>

                    <h2>Publicity</h2>
                    <div class="members">
                        <span class="member">Akash Bhave</span>
                        <span class="member">Angie Huang</span>
                        <span class="member">Anika Thatavarthy</span>
                        <span class="member">Anoushka Sarkar</span>
                        <span class="member">Anthony Wong</span>
                        <span class="member">Catie Granum</span>
                        <span class="member">Jennifer Abraham</span>
                        <span class="member">Joshua Lian</span>
                        <span class="member">Karen Song</span>
                        <span class="member">Khushmeet Chandi</span>
                        <span class="member">Marian Qian</span>
                        <span class="member">Meghna Sharma</span>
                        <span class="member">Nathan Suh</span>
                        <span class="member">Neil Shah</span>
                        <span class="member">Nuha Mohammed</span>
                        <span class="member">Reevu Adakroy</span>
                        <span class="member">Saanjh Khattar</span>
                        <span class="member">Sadhika Dhanasekar</span>
                        <span class="member">Sahana Ramesh</span>
                        <span class="member">Srilakshmi</span>
                        <span class="member">Medarametla</span>
                        <span class="member">Summer Wang</span>
                        <span class="member">Tiffany Ji</span>
                    </div>

                    <h2>Research</h2>
                    <div class="members">
                        <span class="member">Vishal Kanigicherla</span>
                        <span class="member">Hashir Aqeel</span>
                        <span class="member">Neil Shah</span>
                        <span class="member">Nathan Suh</span>
                        <span class="member">Reevu Adakroy</span>
                        <span class="member">Anika Thatavarthy</span>
                        <span class="member">Prithvi Nathan</span>
                        <span class="member">Saanjh Khattar</span>
                        <span class="member">Maria Izzi</span>
                        <span class="member">Adele Peng</span>
                        <span class="member">Anisha Jain</span>
                        <span class="member">Ikhlaas Bhat</span>
                        <span class="member">Julia Kao-Sowa</span>
                        <span class="member">Kevin Gu</span>
                        <span class="member">Khushmeet Chandi</span>
                        <span class="member">Nuha Mohammed</span>
                        <span class="member">Sadhika Dhanasekar</span>
                        <span class="member">Sahana Ramesh</span>
                        <span class="member">Vyomika Gandhi</span>
                        <span class="member">Yulee Kang</span>
                    </div>

                    <h2>Sewing</h2>
                    <div class="members">
                        <span class="member">Priyanka Mosur</span>
                        <span class="member">Joshua Lian</span>
                        <span class="member">Kritika Layagala</span>
                        <span class="member">Sahana Ramesh</span>
                        <span class="member">Akash Bhave</span>
                        <span class="member">Anoushka Sarkar</span>
                        <span class="member">Marian Qian</span>
                        <span class="member">Neil Shah</span>
                        <span class="member">Olivia Ma</span>
                        <span class="member">Prithvi Nathan</span>
                        <span class="member">Reevu Adakroy</span>
                        <span class="member">Tiffany Ji</span>
                    </div>

                    <h2>Sterilization</h2>
                    <div class="members">
                        <span class="member">Kritika Jothishankar</span>
                        <span class="member">Vishal Kanigicherla</span>
                        <span class="member">Daniel Fu</span>
                        <span class="member">Yulee Kang</span>
                        <span class="member">Catie Granum</span>
                        <span class="member">Anisha Jain</span>
                        <span class="member">Anoushka Sarka</span>
                        <span class="member">Anthony Wong</span>
                        <span class="member">Jason Wang</span>
                        <span class="member">Marian Qian</span>
                        <span class="member">Neil Shah</span>
                        <span class="member">Olivia Ma</span>
                        <span class="member">Prithvi Nathan</span>
                        <span class="member">Reevu Adakroy</span>
                    </div>
                </section>
            </section>
        </main>

        <footer class="footer">
            <p class="copyright">
                &copy; 2020
            </p>
            <section class="socials">
                <a href="https://www.facebook.com/projectycro/" target="_blank"
                    ><img
                        src="https://www.shareicon.net/data/512x512/2016/11/14/852231_square_512x512.png"
                        alt="facebook logo"
                        height="30"
                        width="30"
                /></a>
                <a href="https://www.instagram.com/projectycro/?hl=en" target="_blank"
                    ><img
                        src="https://www.edigitalagency.com.au/wp-content/uploads/instagram-glyph-logo-icon-png-black-white.png"
                        alt="instagram_logo"
                        height="30"
                        width="30"
                /></a>
            </section>
        </footer>

        <script>
            let hamburger = document.querySelector(".hamburger");
            let nav = document.querySelector("nav");
            hamburger.addEventListener("click", () => {
                nav.classList.toggle("active");
            });
        </script>
    </body>
</html>
