<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
        <link
            href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/article.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/about.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" />
        <title>Project YCRO | Contact</title>
    </head>

    <body>
        <header>
            <a href="/" class="name">
                <img
                    class="logo"
                    src="{{ url_for('static', filename='mask_icon.svg') }}"
                    style="transform: translateY(-2.5px); margin-right: 1rem;"
                />
                <h1>Project YCRO</h1>
            </a>
            <nav class="nav">
                <button class="hamburger" type="button">
                    <div class="hamburger__lines">
                        <span class="hamburger__line"></span>
                        <span class="hamburger__line"></span>
                        <span class="hamburger__line"></span>
                    </div>
                </button>
                <!-- <a href="/" class="nav__link"><span>Home</span></a> -->
                <a href="/requestppe" class="nav__link"><span>Request PPE</span></a>
                <a href="/donateppe" class="nav__link"><span>Donate PPE</span></a>
                <a href="/contact" class="nav__link"><span>Contact</span></a>
                <a href="/about" class="nav__link"><span>About</span></a>
            </nav>
        </header>

        <main class="content">
            <article class="article">
                <section class="container">
                    <iframe
                        src="https://docs.google.com/forms/d/e/1FAIpQLScAfjcgpcmrWQJPpyUS0430UOsQS2kDjtqMCpz2YCoL6336tA/viewform?embedded=true"
                        width="100%"
                        height="2844"
                        frameborder="0"
                        marginheight="0"
                        marginwidth="0"
                        >Loading…</iframe
                    >
                </section>
            </article>
        </main>

        <footer class="footer">
            <p class="copyright">
                &copy; 2020
            </p>
            <section class="socials">
                <a href="https://www.facebook.com/projectycro/" target="_blank"
                    ><img
                        src="https://www.shareicon.net/data/512x512/2016/11/14/852231_square_512x512.png"
                        alt="facebook logo"
                        height="30"
                        width="30"
                /></a>
                <a href="https://www.instagram.com/projectycro/?hl=en" target="_blank"
                    ><img
                        src="https://www.edigitalagency.com.au/wp-content/uploads/instagram-glyph-logo-icon-png-black-white.png"
                        alt="instagram_logo"
                        height="30"
                        width="30"
                /></a>
            </section>
        </footer>

        <script>
            let hamburger = document.querySelector(".hamburger");
            let nav = document.querySelector("nav");
            hamburger.addEventListener("click", () => {
                nav.classList.toggle("active");
            });
        </script>
    </body>
</html>
