<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<title>Fighting Corona</title>
<!--
Snapshot Template
http://www.templatemo.com/tm-493-snapshot

Zoom Slider
https://vegas.jaysalvat.com/

Caption Hover Effects
http://tympanus.net/codrops/2013/06/18/caption-hover-effects/
-->
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/animate.min.css">
	<link rel="stylesheet" href="static/css/font-awesome.min.css">
  	<link rel="stylesheet" href="static/css/component.css">

    <link rel="stylesheet" href="static/css/owl.theme.css">
	<link rel="stylesheet" href="static/css/owl.carousel.css">
	<link rel="stylesheet" href="static/css/vegas.min.css">
	<link rel="stylesheet" href="static/css/style.css">

	<!-- Google web font  -->
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300' rel='stylesheet' type='text/css'>

</head>
<body id="top" data-spy="scroll" data-offset="50" data-target=".navbar-collapse">


<!-- Preloader section -->

<div class="preloader">
     <div class="sk-spinner sk-spinner-pulse"></div>
</div>


<!-- Navigation section  -->

  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

      <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon icon-bar"></span>
          <span class="icon icon-bar"></span>
          <span class="icon icon-bar"></span>
        </button>
        <a href="#top" class="navbar-brand smoothScroll">Fighting Corona</a>
      </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/" class="smoothScroll"><span>Home</span></a></li>
            <li><a href="/contact" class="smoothScroll"><span>Contact</span></a></li>
            <li><a href="/about" class="smoothScroll"><span>About</span></a></li>
            <li><a href="/donate" class="smoothScroll"><span>Donate</span></a></li>
          </ul>
       </div>

    </div>
  </div>


<!-- About section -->

<section id="about">
  <div class="container">
    <div class="row">

      <div class="col-md-9 col-sm-8 wow fadeInUp" data-wow-delay="0.2s">
        <div class="about-thumb">
          <h1>Donate</h1>
          <p>Consider a small donation to help us continue fight against the novel coronavirus.</p>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 wow fadeInUp about-img" data-wow-delay="0.6s">
        <img src= "static/js/about-img.png" class="img-responsive img-circle" alt="About">
      </div>

      <div class="clearfix"></div>


      </div>
      <!-- end team carousel -->

    </div>
  </div>
</section>



<!-- Footer section -->

<footer>
	<div class="container">

		<div class="row">

			<div class="col-md-12 col-sm-12">
                
                <br>
                <ul class="social-icon">
                    <li><a href="#" class="fa fa-facebook wow fadeInUp" data-wow-delay="0.1s"></a></li>
                    <li><a href="#" class="fa fa-twitter wow fadeInUp" data-wow-delay="0.2s"></a></li>
                    <li><a href="#" class="fa fa-linkedin wow fadeInUp" data-wow-delay="0.3s"></a></li>
                    <li><a href="#" class="fa fa-instagram wow fadeInUp" data-wow-delay="0.4s"></a></li>
                    <li><a href="#" class="fa fa-google-plus wow fadeInUp" data-wow-delay="0.5s"></a></li>
                </ul>


			</div>

		</div>

	</div>
</footer>

<!-- Back top -->
<a href="#" class="go-top"><i class="fa fa-angle-up"></i></a>

<!-- Javascript  -->
<script src="static/js/jquery.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/vegas.min.js"></script>
<script src="static/js/modernizr.custom.js"></script>
<script src="static/js/toucheffects.js"></script>
<script src="static/js/owl.carousel.min.js"></script>
<script src="static/js/smoothscroll.js"></script>
<script src="static/js/wow.min.js"></script>
<script src="static/js/custom.js"></script>

</body>
</html>