<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
        <link
            href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') }}" />
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles/message.css') }}" /> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/article.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" />
        <title>Project YCRO | Home</title>
    </head>

    <body>
        <header>
            <a href="/" class="name">
                <img
                    class="logo"
                    src="{{ url_for('static', filename='mask_icon.svg') }}"
                    style="transform: translateY(-2.5px); margin-right: 1rem;"
                />
                <h1>Project YCRO</h1>
            </a>
            <nav class="nav">
                <button class="hamburger" type="button">
                    <div class="hamburger__lines">
                        <span class="hamburger__line"></span>
                        <span class="hamburger__line"></span>
                        <span class="hamburger__line"></span>
                    </div>
                </button>
                <span class="nav__link" style="visibility: hidden;"></span>
                <a href="/" class="nav__link"><span>Home</span></a>
                <a href="/contact" class="nav__link"><span>Contact</span></a>
                <a href="/about" class="nav__link"><span>About</span></a>

                <!-- link to actual paypal -->
                <!-- <a href="https://www.paypal.com" class="nav__link" target="_blank"
                    ><span>Donate</span></a
                > -->
            </nav>
        </header>

        <main>
            <article class="article">
                <h1>
                    <span style="font-size: 125%;">Y</span>outh
                    <span style="font-size: 125%;">C</span>OVID-19
                    <span style="font-size: 125%;">R</span>elief
                    <span style="font-size: 125%;">O</span>rganization
                </h1>
                <section class="container">
                    <br />
                    <p>
                        Healthcare workers are lacking basic personal protective equipment (PPE)
                        while fighting the COVID-19 pandemic, putting themselves and their loved
                        ones in danger. Help us deliver critically needed supplies so they can
                        safely continue saving lives.
                    </p>
                </section>
            </article>

            <section class="button-toggles">
                <button class="chart active" type="button">Map</button>
                <button class="map active" type="button">Charts</button>
            </section>

            <!-- <section class="message">
            <p>
                We work to provide hospitals with desperately needed supplies to fight against the
                COVID-19 pandemic. (call to action)?
            </p>
        </section> -->

            <section class="content">
                <section class="content__visualizations content__visualizations--map">
                    <iframe
                        class="visual"
                        src="https://www.google.com/maps/d/u/0/embed?mid=1EYwPfRTAqljYRM2A5VL514hlb2igE-J0&zoom=8"
                        style="width: 100%; height: 100%; border: none;"
                    ></iframe>
                    <figcaption>
                        <span
                            >This map shows hospitals that we've contacted which currently need
                            supplies. Click on the location icons on the map to see more
                            information, such as the name and address of the hospital, as well as a
                            link to its website.</span
                        >
                    </figcaption>
                </section>

                <section class="content__visualizations content__visualizations--chart">
                    <iframe
                        class="visual"
                        src="http://projectycro.org/dash1/"
                        style="width: 100%; height: 100%; border: none;"
                    ></iframe>
                    <figcaption>
                        <span
                            >This graph displays the supplies that hospitals need along with the
                            respective quantities of each supply requested. Hover over the bars for
                            exact values, or use the tool bar in the top-right corner for other
                            functions.</span
                        >
                    </figcaption>
                </section>

                <!-- <section class="content__visualizations content__visualizations--chart">
                    <iframe
                        class="visual"
                        src="https://project-ycro.herokuapp.com/dash1/"
                        style="width: 100%; height: 100%; border: none;"
                    ></iframe>
                    <figcaption>
                        <span
                            >Hospitals have informed us that these are the supplies they need
                            most.</span
                        >
                    </figcaption>
                </section> -->
            </section>
        </main>

        <footer class="footer">
            <p class="copyright">
                &copy; 2020
            </p>
            <section class="socials">
                <a href="https://www.facebook.com/projectycro/" target="_blank"
                    ><img
                        src="https://www.shareicon.net/data/512x512/2016/11/14/852231_square_512x512.png"
                        alt="facebook logo"
                        height="30"
                        width="30"
                /></a>
                <a href="https://www.instagram.com/projectycro/?hl=en" target="_blank"
                    ><img
                        src="https://www.edigitalagency.com.au/wp-content/uploads/instagram-glyph-logo-icon-png-black-white.png"
                        alt="instagram_logo"
                        height="30"
                        width="30"
                /></a>
            </section>
        </footer>

        <script>
            let hamburger = document.querySelector(".hamburger");
            let nav = document.querySelector("nav");
            hamburger.addEventListener("click", () => {
                nav.classList.toggle("active");
            });

            let container = document.querySelector(".content");
            let mapButton = document.querySelector(".map");
            let chartButton = document.querySelector(".chart");
            let map = document.querySelector(".content__visualizations--map");
            let charts = document.querySelectorAll(".content__visualizations--chart");

            chartsAndMap();

            mapButton.addEventListener("click", () => {
                let mapButtonIsActive = mapButton.classList.contains("active");
                let chartButtonIsActive = chartButton.classList.contains("active");

                if (mapButtonIsActive && chartButtonIsActive) chartsOnly();
                else if (!mapButtonIsActive && !chartButtonIsActive) mapOnly();
                else if (!mapButtonIsActive && chartButtonIsActive) chartsAndMap();
                else if (mapButtonIsActive && !chartButtonIsActive) {
                    return;
                }
                mapButton.classList.toggle("active");
            });
            chartButton.addEventListener("click", () => {
                let mapButtonIsActive = mapButton.classList.contains("active");
                let chartButtonIsActive = chartButton.classList.contains("active");

                if (mapButtonIsActive && chartButtonIsActive) mapOnly();
                else if (!mapButtonIsActive && !chartButtonIsActive) chartsOnly();
                else if (mapButtonIsActive && !chartButtonIsActive) chartsAndMap();
                else if (!mapButtonIsActive && chartButtonIsActive) {
                    return;
                }
                chartButton.classList.toggle("active");
            });

            function mapOnly() {
                map.style.display = "flex";
                charts.forEach((chart) => {
                    chart.style.display = "none";
                });
            }

            function chartsOnly() {
                map.style.display = "none";
                charts.forEach((chart) => {
                    chart.style.display = "flex";
                });
            }

            function chartsAndMap() {
                map.style.display = "flex";
                charts.forEach((chart) => {
                    chart.style.display = "flex";
                });
            }

            function none() {
                map.style.display = "none";
                charts.forEach((chart) => {
                    chart.style.display = "none";
                });
            }
        </script>
    </body>
</html>
