$pink: #e44c65;
$white: whitesmoke;
$blue: #304352;

form {
    margin: 0 1rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 0.5fr repeat(4, 1fr) 0.5fr;
    gap: 1rem;

    input,
    textarea,
    button {
        font-size: 16px;
        box-shadow: 0 0.125rem 0.125rem -0.125rem black;
    }

    input,
    textarea {
        border: none;
        background-color: $blue;
        color: $white;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        transition: all 0.25s ease;
    }

    input:focus,
    textarea:focus {
        background-color: white;
        color: $blue;
        border-bottom: 3px solid $blue;
        // border-bottom: 3px solid $blue;
    }

    textarea {
        resize: vertical;
        min-height: 3.5rem;
    }

    .name {
        grid-column: 2 / 4;
    }

    .email {
        grid-column: span 2;
    }

    .message {
        grid-column: 2 / 6;
        // grid-row: 2 / 4;
    }

    .submit {
        grid-column: 3 / 5;

        button {
            width: 100%;
            height: 2rem;
            border: none;
            border-bottom: 3px solid $pink;
            background-color: white;
            color: $pink;
            // color: $white;
            min-height: 3.5rem;
            font-weight: bold;
            transition: all 0.25s ease;
        }

        button:hover {
            background-color: $pink;
            color: $white;
        }
    }
}

@media only screen and (max-width: 720px) {
    form {
        grid-template-columns: 1fr 1fr 1fr 1fr;

        .name,
        .email,
        .message,
        .submit {
            grid-column: span 4;
        }
    }
}
