article.title {
  background-image: url("https://cdn.pixabay.com/photo/2020/03/26/16/11/corona-4970836__340.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: calc(3rem + 1rem) 1rem 3rem 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

article.title h1 {
  color: #e44c65;
  background: rgba(48, 67, 82, 0.75);
  margin: auto 10%;
  padding: 0.5rem 2rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 200%;
}

article.title p {
  margin: 2rem 10% 0 10%;
  padding: 1rem;
  background-color: rgba(245, 245, 245, 0.75);
  line-height: 250%;
  text-align: center;
}

.button-toggles {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button-toggles button {
  color: #304352;
  background-color: white;
  border: none;
  border-bottom: 3px solid #304352;
  margin: 0 0.25rem;
  width: 10rem;
  font-size: 16px;
  padding: 1rem;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  cursor: pointer;
}

.button-toggles button.active, .button-toggles button:hover {
  background-color: #304352;
  color: whitesmoke;
}

.doctors-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: calc(20rem + 0.5rem);
  height: 25%;
  display: block;
  margin: 5rem auto -7rem auto;
  border: 3px solid #304352;
}

.content {
  margin: 1rem;
  margin-top: 0.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(22.5rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(22.5rem, 1fr));
  gap: 1rem;
}

.content__visualizations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-shadow: 0 0.125rem 0.125rem -0.125rem black;
          box-shadow: 0 0.125rem 0.125rem -0.125rem black;
}

.content__visualizations .visual {
  min-height: 30rem;
  background-color: white;
  border: none;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content__visualizations figcaption {
  text-align: center;
  background-color: #304352;
  color: whitesmoke;
  padding: 0.5rem;
}

@media only screen and (max-width: 400px) {
  article.title h1 {
    font-size: 150%;
  }
}

@media only screen and (max-width: 350px) {
  article.title h1 {
    font-size: 115%;
  }
}

@media only screen and (max-width: 720px) {
  .content__visualizations {
    width: calc(100vw - 2rem);
  }
}

@media only screen and (max-width: 720px) {
  .button-toggles {
    display: none;
  }
  .doctors-image {
    margin: 4rem auto -4rem auto;
  }
  .content {
    -ms-grid-columns: (100%)[auto-fit];
        grid-template-columns: repeat(auto-fit, 100%);
  }
  .content__visualizations {
    grid-row: span 1;
    grid-column: span 1;
  }
  .content__visualizations--map .visual {
    min-height: 20rem;
  }
  article.title {
    padding: 1rem 0;
  }
  article.title p,
  article.title h1 {
    margin: auto 1rem 0 1rem;
  }
  article.title p {
    margin-top: 2rem;
  }
}
/*# sourceMappingURL=index.css.map */