$pink: #e44c65;
$white: whitesmoke;
$blue: #304352;

.content {
    margin: 1rem;
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem;

    &__visualizations {
        min-height: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        box-shadow: 0 0.125rem 0.125rem -0.125rem black;

        //for when there are >3-4 charts:
        // &--map {
        // 	grid-column: span 2;
        // 	grid-row: span 2;
        // 	min-height: 35rem;

        // 	.visual {
        // 		min-height: calc(20rem - 35px);
        // 		background-color: white;
        // 		width: 100%;
        // 		height: 100%;
        // 		display: flex;
        // 		align-items: center;
        // 		justify-content: center;
        // 	}
        // }

        // &--chart .visual {
        // 	min-height: calc(20rem - 35px);
        // 	background-color: white;
        // 	width: 100%;
        // 	height: 100%;
        // 	display: flex;
        // 	align-items: center;
        // 	justify-content: center;
        // }

        //for when there's only one of each:
        .visual {
            min-height: calc(25rem - 35px);
            background-color: white;
            border: none;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        figcaption {
            text-align: center;
            background-color: $blue;
            color: $white;
            padding: 0.5rem;
        }
    }
}

// @media only screen and (max-width: 720px) {
//     .content {
//         grid-template-columns: repeat(auto-fit, 100%);

//         &__visualizations {
//             grid-row: span 1;
//             grid-column: span 1;

//             &--map {
//                 min-height: 20rem;
//             }
//         }
//     }
// }
