* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    position: relative;
    background-color: whitesmoke;
    border: 1px solid white;
    border-width: 1px 0 0 0;
    min-height: 100vh;
    height: 100%;
    padding-bottom: 3rem;
}
